{% extends 'base.html.twig' %}

{% block title %}Ajouter une association{% endblock %}

{% block stylesheets %}
      {{ encore_entry_link_tags('liveLoto') }}
{% endblock %}

{% block body %}
<section class="container">
    <div class="wrapper">
        <h1>Ajouter une association</h1>

        {{ include('association/_form.html.twig') }}

        <a href="{{ path('organizer-account') }}">Retour</a>
    <div>
</section>
{% endblock %}
