{% extends 'base.html.twig' %}

{% block title %}Publier un loto{% endblock %}

{% block body %}
<section  class="container jumbotron">
      <h1>formulaire de publication de votre événement</h1>
      {% include "account/form/_live_loto_form.html.twig" with {"form" :liveLotoForm, "button_label": "Publier"}%}
   
</section>

{% endblock %}