<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lototor - grilles lototquine à télécharger</title>
    <style type="text/css">
        .grille_lotoquine{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
            grid-template-rows: repeat(3, 1fr);
        }
        table {
            border-collapse: collapse;
            text-center: center;
        }
        td {
            height: 50px;
            text-align: center;
        }
        table,  td {
            border: 1px solid black;
        }
        @page {
            size: A4;
            margin: 0;
        }
        @media print {
            html, body {
                width: 210mm;
                height: 297mm;
            }
        }
    </style>
</head>
<body>
<div class="grille_lotoquine">
    {% block body %}

    {% endblock %}
</div>

    
</body>
</html>