<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lototor - grilles lototquine à télécharger</title>
    <style>
        .grille_lotoquine{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
            grid-template-rows: repeat(3, 1fr);
        }
    </style>
</head>
<body>
<div class="grille_lotoquine">
    {% block body %}

    {% endblock %}
</div>

    
</body>
</html>