{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - grilles loto quine à télécharger gratuitement{% endblock %}
{% block metaDescription %}Générateur de grilles Lotoquine gratuites. Idéal pour les associations ou les lotos entre amis. {% endblock %}


{% block body %}
<section class="masthead">
    <div class="container">
        <div class="intro-text jumbotron">
        	<h1 class="intro-heading ">Des grilles de Lotoquine gratuits !</h1>
            <div class="intro-lead-in">Lototor vous offre 50 plaques de 6 grilles de lotoquine à télécharger et imprimer gratuitement.  </div>
         	<div>
         		<p>Lototor vous garantie que chaque plaque est unique et melangée aléatoirement.</p>
         		<div class="row text-center">
                  <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger mt-3" href="{{ path('loto_quine_generator') }}">
            	Télécharger les plaques lotoquine gratuites <i class="fas fa-futbol" aria-hidden="true"></i>> 
                </a>
                 <img src="{{asset("build/images/lotoquine.png")}}" alt="plaque lotoquine" class="img-fluid"/>

                </div>

         	</div>
        </div>
    </div>
</header>
{% endblock %}
