{% extends 'base.html.twig' %}

{% block body %}
<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text jumbotron">
        	<div class="intro-heading ">Condition générale d'utilisation</div>
            <div class="intro-lead-in">La navigation sur Lototor vaut acceptation de ce qui suit</div>
         
        </div>
    </div>
</header>



{% endblock %}