{% extends 'base.html.twig' %}

{% block title %}
 {{parent()}}   - Conditions générale d'utilisation}
{% endblock %}

{% block body %}
<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text jumbotron">
        	<h1 class="intro-heading ">Condition générale d'utilisation</h1>
            <div class="intro-lead-in">La navigation sur Lototor vaut acceptation de ce qui suit</div>
         	<div>
         		<p>En naviguant et en utilisant les simulateurs LototoR, vous prenez connaissance des faits suivant :</p>
         		<ul>
         			<li>Les différents simulateurs "simulent" la réalité et ne sont en aucun cas des prédicateurs de tirages futur. Selon le nombre d'années séléctionnés, ils simulent un tirage ou 2 par semaine en fontion de la loterie choisie.</li>
         			<li>Les gains estimés, le sont à partir d'une moyenne estimée pour une combinaison donnée <a href="https://www.lesbonsnumeros.com/euromillions/statistiques/gains/gains-par-rang.htm" target="_blank">(cf. sourcée des données Euromillions)</a> </li>
         			<li>Pour chaque tirage simulé, le simulateur compare son tirage à vos numéros. Il estime ensuite le nombre de bon numéros et ajoute au gain total le gain moyen du rang donné.</li>
         			<li>En simulant le hasard, LototoR ne cherche pas à vous inciter à jouer, ni même à vous aider à trouver les bons numéros du prochain tirage officiel de la loterie concernée. Voyez le simulateur comme un jeu ludique qui vous permet de vous rendre compte à quel point il vous faut de chance pour trouver les bons numéros d'une loterie. Une vie passée à jouer ne suffit pas à toucher le gros lot.</li>
         			<li>Les publicités et/ou affiliations présent sur le site, permettent de payer les frais duent à l'hebergement du site.</li>
         			<li>Vos données personnelles sont conservées de manières anonymes par des services tiers (Google) et nous sont utiles à des fins de statistiques ou de ciblage publicitaires.</li>
         		</ul>

         	</div>
        </div>
    </div>
</header>



{% endblock %}