{% extends 'base.html.twig' %}

{% block header %}
  <!-- Header -->
  <header class="container-fluid d-flex justify-content-center">
  <div class="jumbotron text-center">
    <h1>Lototor</h1>
    <h2>L'annuaire des lotos associatifs</h2> 
  </div>
    
  </header>
{% endblock %}

{% block body %}
  <section class="container">
    <div class="d-flex jystify-content-center">
      <a class="custom_card_linked" href="{{path("lottery_simulators")}}">
        <div class="custom_card text-center  cursor">
            <div class="custom_card_header">
                <h1>Simulateurs de loteries</h1>
                <p>Lototor c'est aussi des simulateurs de loteries tels que le loto et l'euromillions</p>
            </div>
            <div class="customer_card_content">
              <p>Mettez vos numéros fétiches à l'épreuve et simulez vos gains sur 10 ans, 50 ans ou même 500ans !!</p>
                Loto et Euromillions
            </div>

        </div>
      </a>
    </div>
    {% include 'adsense-horizontale.html' %}
  </section>
  <section class="container">
    <div class="d-flex jystify-content-center">
      <a class="custom_card_linked" href="{{path("lottery_simulators")}}">
        <div class="custom_card text-center  cursor">
            <div class="custom_card_header">
                <h1>Simulateurs de loteries</h1>
                <p>Lototor c'est aussi des simulateurs de loteries tels que le loto et l'euromillions</p>
            </div>
            <div class="customer_card_content">
              <p>Mettez vos numéros fétiches à l'épreuve et simulez vos gains sur 10 ans, 50 ans ou même 500ans !!</p>
                Loto et Euromillions
            </div>

        </div>
      </a>
    </div>
    {% include 'adsense-horizontale.html' %}
  </section>
{% endblock %}


