{% extends 'base.html.twig' %}

{% block body %}
<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text jumbotron">
            <div class="intro-lead-in">Bienvenue dans le simulateur de loterie!</div>
            <div class="intro-heading ">Toucherez-vous le gros lot de votre vivant ?</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{ path('euromillion') }}">Euromillion > </a>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#">Loto > </a>
        </div>
    </div>
</header>



{% endblock %}


