{% extends 'base.html.twig' %}

{% block body %}
<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text jumbotron">
            <h1 class="intro-lead-in">Bienvenue dans le simulateur de loterie!</h1>
            <h2 class="intro-heading ">Avez-vous les numéros gagnant ?</h2>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{ path('lottery',{'lotteryName': 'euromillion'}) }}">
            	Euromillion <i class="fas fa-futbol" aria-hidden="true"></i>> 
            </a>
             <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{ path('lottery',{'lotteryName': 'loto'}) }}">
                Loto <i class="fas fa-futbol" aria-hidden="true"></i>> 
            </a>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- lototor display horizontal -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-2986814021877593"
                 data-ad-slot="6190522532"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
           {# <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{ path('loto') }}">Loto > </a>#}
        </div>
    </div>
</header>



{% endblock %}


