{% extends 'base.html.twig' %}
{% block title %}
 {{parent()}}   -  Agenda des lotos live de France
{% endblock %}

{% block metaDescription %}

{% endblock %}
{% block header %}
  <!-- Header -->
  <header class="container-fluid d-flex justify-content-center">
  <div class="jumbotron text-center">
    <h1>Agenda des loto live de france</h1>
    <p>Trouvez les lotos live organiséés par les associations</p> 
  </div>
    
  </header>
{% endblock %}

{% block body %}

    <section class="container jumbotron">
         
        {% include 'adsense-horizontale.html' %}
       
             
    </section>
  

{% endblock %}