body,html{
	height: 100%;
	position: relative;
	padding: 0px;
	margin: 0px;
}
body .rgbd{
	position: absolute; 
	bottom: 0; 
	right: 0;
	left: 0;
	padding: 1rem;
	text-align: center;
	border-radius: 10px;
	background-color: lightGrey;
	
}

body .rgbd a{
	color: blue;
	cursor: pointer;
}	

.flash_message{
	margin-top: 4em !important;
}

.jumbotron{
	margin-top: 3rem;

	.intro-heading {
		font-size: 2rem !important;
	}
}

.required:after{
	content: "*";
}
.invalid-feedback{
	color: red;
}