
    <div class="form form-inline" style="max-width:500px;">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-success">Sauvegarder</button>
        {{ form_end(form) }}
    </div>