<div id="rgbd">  
        <div class="form-group"> Lototor conserve vos données de navigation pour ses statistiques. Vos données personnelles ne sont pas conservées ou utlisées.
        </div>
        <div class="form-group">    
            <button class="btn btn-success"> J'ai compris</button>
            <a href="{{ path('CGU') }}"> plus d'info</a>
        </div>
</div> 