<div class="custom_card ">
    <div class="custom_card_header">
        <h2>Infos personnelles </h2>
        <a class="btn btn-primary cursor angle-r" id="js_edit_info" title="Modifier mes infos"><i class="far fa-edit"></i></a>
    </div>
    
    <div class="customer_card_content">
        <p>Pseudo :  {{ organizer.username }}</p>
        <p>Email :  {{ organizer.email }}</p>
        <p>Nom :  {{ organizer.Fullname }}</p>
        <p>phone :  {{ organizer.phone }}</p>
    </div>
   
</div>