<div class="custom_card ">
    <h2>Mes associations  <span class="badge badge-primary"> {{organizer.associations|length}} </span></h2>
    <a class="btn btn-primary cursor angle-r" id="js_btn_add_association" title="Ajouter une association" 
        {# on bloque pour l'instant l'affiliation à plus d'une association  #}
        {% if organizer.associations|length > 0 %} style="display:none;"{% endif %} >
        <i class="fas fa-plus"></i>
    </a>
        <ul>
        {% for asso in organizer.associations %}
            <li>
                <a>{{ asso.name }}</a>
            </li>
        {% else %}
            <li>Vous n'avez pas encore d'association</li>
        {% endfor %}
    </ul>
    <form method="post" action="{{ path('organizer_ajax_add_association')}}" id="js_form_add_association"style="display:none">
        <div class="form-group " >
            <input class="form-control" type="text" 
                name="siret" id="siret" maxlength="14" autocomplete="off" 
                required placeholder="Siret de l'association à lier à votre compte"/>
        </div>
        <button class="btn btn-primary"type="submit" name="newAssociationSubmit"  >Ajouter</button>
    </form>
</div>