<div class="custom_card ">
    <h2>Mes infos personnels </h2>
    <a class="btn btn-primary cursor angle-r" title="Modifier mes infos"><i class="far fa-edit"></i></a>
    <p>Pseudo :  {{ organizer.username }}</p>
    <p>Email :  {{ organizer.username }}</p>
    <p>Pseudo :  {{ organizer.username }}</p>
</div>