{% extends 'base.html.twig' %}
{% block title %}
 {{parent()}}   -  Agenda des lotos live de France
{% endblock %}

{% block metaDescription %}

{% endblock %}
{% block header %}
  <!-- Header -->
  <header class="container-fluid d-flex justify-content-center">
  <div class="jumbotron text-center">
    <h1>Agenda des loto live de france</h1>
    <p>Trouvez les lotos live organiséés par les associations</p> 
   
  </div>
    
  </header>
{% endblock %}

{% block body %}

    <main class="container ">
      {% include 'adsense-horizontale.html' %}
      <section class="d-flex flex-column container">
       {% for lotoEvent in liveLotoEvents %}
          {% include 'account/_loto_card.html.twig' %}
        {% endfor %}
      </section>
       
             
    </main>
{% endblock %}