{% extends 'base.html.twig' %}
{% block title %}
 {{parent()}}   -  Agenda des lotos live de France
{% endblock %}

{% block metaDescription %}

{% endblock %}

{% block stylesheets %}
      {{ encore_entry_link_tags('modalImage') }}
{% endblock %}
{% block javascripts %}
        {{ encore_entry_script_tags('modalImage') }}
{% endblock %}
{% block header %}
  <!-- Header -->
  <header class="container-fluid d-flex justify-content-center">
  <div class="jumbotron text-center">
    <h1>Agenda des lotos associatifs de france</h1>
    <p>Trouvez les lotos organisés par les associations</p> 
   
  </div>
    
  </header>
{% endblock %}

{% block body %}

    <main class="container ">
      {% include 'adsense-horizontale.html' %}
      <section class="d-flex flex-column container">
       
          {% include 'loto_event/_loto_card_detail.html.twig' %}
        
      </section>
       
             
    </main>
    {% include 'account/modal/_image_modal.html.twig'  %}
{% endblock %}