{% extends 'base.html.twig' %}
{% block title %}
 {{parent()}}   - pertinance du simulator lototor
{% endblock %}

{% block stylesheets %}
      {{ encore_entry_link_tags('chartjs') }}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="jumbotron">
			<canvas id="myChart" data-pertinance="{{pertinance}}" width="200" height="200"></canvas>
		</div>
		

	</div>
	
{% endblock %}

{% block javascripts %}
     {{ encore_entry_script_tags('chartjs') }}
{% endblock %}